.popup__button {
  background-color: #000;
  color: #fff;
  border: none;
  margin: 23px 0 0;
  height: 50px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}
.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 550px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
    margin: 21px 0 0;
    height: 46px;
  }
}
