.popup__input_type_login {
  min-width: 358px;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
  color: #fff;
}
@media screen and (max-width: 550px) {
  .popup__input_type_login {
    min-width: 260px;
  }
}
