.item__like {
  background-image: url(../../../images/heart.svg);
  width: 22px;
  height: 19px;
  transition: 0.5s;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.item__like:hover {
  opacity: 0.6;
}
